<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { margin-bottom: 2px; }
      ul#messages li img{ margin-right: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chatbox" role="form">
        <div class="form-group">
          <label for="message">Send a message as {{.UserData.name}}</label> or <a href="/logout">sign out</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="Send"/>
      </form>
    </div>
  </body>
  <!-- data brodcasted to the script-->
  <data type="text" id="address" value="ws://{{.Host}}/room">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>
</html>
